* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  /*shrinks content to fit within the box */
}

html {
  width:100%;
  height:100%;
}
body {
  height: 100vh; /* do we want this the full height of the viewport? if not change % to show other buttons */
  display: flex;
  background: #060AB2;  /* change this to a different color with fade/swirl effects for interest */
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between */
}
/*heading styles */
.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0; /* Remove bottom margin */
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px;
  max-width: 100%;
  width: 100%;
  padding: 10px;
}
.button-container {
  display: flex;
  justify-content: center; /* centers the buttons horizontally */
  gap: 10px; /* adds space between the buttons */
  margin-bottom: 10px; /* Adjust this value to reduce space below buttons */
}
.btn-custom {
  background-color: white;
  border: 2px solid #FF8400;
  color: black;
  margin: 0 5px;
}
.btn-custom:hover {
  background-color: #FF8400;
  color: white;
}
.hazard-game {
  width: 850px;
  height: 850px;
  margin: auto; /* centers the game board */
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 100%;
  perspective: 1000px; /* perspective for 3D effect */
  /* border: 2px solid #2ED14D;  */ /* to enable game board to be viewed during development - can be removed later */
}
.hazard-card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative; /* allows for absolute positioning of front and back faces */
  transform: scale(1); /* default size of the card - starting size for scaling*/
  transform-style: preserve-3d; /* allows for 3D rotation */
  transition: transform .5s; /* smooths out the transition */
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
/* click effect to the hazard card */
.hazard-card:active { /* when the card is clicked */
  transform: scale(0.97); /* when the card is clicked */
  transition: transform .2s; /* smooths out the transition */
}
.hazard-card.flip { /* flips the card */
  transform: rotateY(180deg);
}
.back-face{
  background-color:#7fffd4;
}
.front-face {
  background: white;
  padding: 4px;
;  }
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute; /* allows for absolute positioning of front and back faces */
  border-radius: 5px;
  backface-visibility: hidden; /* hides the back face of the card */
  /* border: 2px solid #E63119; /* not required unless choose to keep border */
}
.front-face {
  transform: rotateY(180deg); /* flips the front face */
}
.counters {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center; /* centers the buttons horizontally */
  gap: 10px; /* adds space between the buttons */
  margin: 20px 0;
}

.counter-button {
  background-color: white;
  border: 2px solid #FF8400;
  color: black;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.counter-button:hover {
  background-color: #FF8400;
  color: white;
}