* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  /*shrinks content to fit within the box */
}

html {
  width:100%;
  height:100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
/*heading styles */
.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0; /* Remove bottom margin */
}
.cards-container {
  width: 100%;
  max-width: 850px;
  margin: auto;
}
.button-container {
  display: flex;
  justify-content: center; /* centers the buttons horizontally */
  gap: 10px; /* adds space between the buttons */
  margin-bottom: 10px; /* Adjust this value to reduce space below buttons */
}
.btn-custom {
  background-color: white;
  border: 2px solid #FF8400;
  color: black;
  margin: 0 5px;
}
.btn-custom:hover {
  background-color: #FF8400;
  color: white;
}
.hazard-game {
  width: 100%;
  height: auto;
  max-width: 850px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  perspective: 1000px;
}
.hazard-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
/* click effect to the hazard card */
.hazard-card:active { /* when the card is clicked */
  transform: scale(0.97); /* when the card is clicked */
  transition: transform .2s; /* smooths out the transition */
}
.hazard-card.flip { /* flips the card */
  transform: rotateY(180deg);
}
.back-face{
  background-color:#7fffd4;
}
.front-face {
  background: white;
  padding: 4px;
;  }
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute; /* allows for absolute positioning of front and back faces */
  border-radius: 5px;
  backface-visibility: hidden; /* hides the back face of the card */
  /* border: 2px solid #E63119; /* not required unless choose to keep border */
}
.front-face {
  transform: rotateY(180deg); /* flips the front face */
}
.counters {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center; /* centers the buttons horizontally */
  gap: 10px; /* adds space between the buttons */
  margin: 20px 0;
}

.counter-button {
  background-color: white;
  border: 2px solid #FF8400;
  color: black;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.counter-button:hover {
  background-color: #FF8400;
  color: white;
}

@media screen and (max-width: 768px) {
  .hazard-card {
    width: calc(25% - 10px); /* Two cards per row */
    height: calc(25% - 10px); /* Adjust height accordingly */
  }
.counters {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center; /* centers the buttons horizontally */
  gap: 10px; /* adds space between the buttons */
  margin: 20px 0;
}

.counter-button {
  background-color: white;
  border: 2px solid #FF8400;
  color: black;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.counter-button:hover {
  background-color: #FF8400;
  color: white;
}
}