* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*shrinks content to fit within the box */
}

body {
    height: 100vh;
    /* do we want this the full height of the viewport? if not change % to show other buttons */
    display: flex;
    background: #8a2be2
        /* change this to a different color with fade/swirl effects for interest */
}

.hazard-game {
    width: 640px;
    height: 640px;
    margin: auto; /* centers the game board */
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px; /* perspective for 3D effect */
    border: 2px solid #2ed14d; /* can change this to a different color */ /* Note to be removed later */
}

.hazard-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative; /* allows for absolute positioning of front and back faces */
    transform: scale(1); /* default size of the card - starting size for scaling*/
    transform-style: preserve-3d; /* allows for 3D rotation */
    transition: transform 0.5s; /* smooths out the transition */
}

/* click effect to the hazard card */
.hazard-card:active { /* when the card is clicked */
    transform: scale(0.97); /* shrinks the card */
    transition: transform 0.2s; /* smooths out the transition */
}

.hazard-card.flip {
    transform: rotateY(180deg); /* flips the card */
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute; /* allows for absolute positioning of front and back faces */
    border: 2px solid #e63119; /* can change this to a different color */
backface-visibility: hidden; /* hides the back face of the card */
}

.front-face {
  transform: rotateY('180deg'); /* flips the front face */
}